.container {
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
}

a,
button,
input,
ul {
	border: 0;
	background: transparent;
	text-decoration: none;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 3rem;
}

.title {
	font-size: 3rem;
	text-transform: uppercase;
	position: relative;
}

.title::after {
	content: "";
	position: absolute;
	width: 40%;
	height: .4rem;
	background: #6b8e23;
	border-radius: .5rem;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: -.5rem;
}

/* CATEGORY */
.category {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	margin: 3rem 0 5rem 0;
}

.category-btn {
	background: #6b8e23;
	padding: .5rem 1rem;
	color: #fff;
	font-size: 1.4rem;
	letter-spacing: .2rem;
	border: .1rem solid #6b8e23;
	border-radius: .3rem;
	cursor: pointer;
}

.category-btn:hover {
	background: transparent;
	color: #6b8e23;
	transition: all .5s ease;
	border: .1rem solid #6b8e23;
}


